/* ==== Aufbau ==== */

body {
	padding: 0 16px;
}

#main {
	background: #fff;
	margin: 0 auto;
	padding: 0;
	max-width: 934px;
}

#content, #aside {
	float: left;
	width: 70%;
	background: none;
}

#content {
	min-height: 220px;
}

#aside {
	width: 30%;
}

.logo img {
	width: auto;
	margin: 0;
}



/* ==== Tabellen ==== */

table {
	padding: 0;
	display: table;
	border-collapse: collapse;
	border: none;
	background: none;
	font-size: 11px;
	line-height: 15px;
	width: 100%;
}

table tr    { display: table-row; }
table tbody { display: table-row-group; }
table thead { display: table-header-group; }

table tbody th, table tbody td {
	display: table-cell;
	padding: 3px 10px;
	border-bottom: 1px solid #e8e8e8;
}

table thead th, table thead td {
	display: table-cell;
	padding: 5px 10px;
	border-bottom: none;
}



/* ==== Auswahl ==== */

p.slogan {
	width: 140px;
	margin: 0 20px 0 0;
	display: inline-block;
	font-size: 1.4em;
}

ul.choice {
	display: inline-block;
}

ul.choice li {
	display: inline-block;
	border: none;
	font-size: 1.6em;
}

ul.choice li a {
	margin: 0 20px 0 0;
	display: inline-block;
	opacity: 0.6;
	-webkit-transition: all 200ms ease-in-out;
	   -moz-transition: all 200ms ease-in-out;
		    transition: all 200ms ease-in-out;
}

ul.choice li a:hover, ul.choice li a:hover, ul.choice li a:hover {
	opacity: 1;
	margin: 0 15px 0 0;
	padding-left: 45px;
}



/* ==== Footer ==== */

#footer .address ul {
	float: left;
}

#footer .address ul li {
	float: left;
	margin: 0 32px 0 0;
}

#footer ul.linklist li {
	float: left;
	width: 31.3%;
	margin: 0 2% 0 0;
}

#footer ul.linklist li:last-child {
	margin-right: 0;
}

#footer ul.linklist ul li {
	float: none;
	width: auto;
	margin: 0;
}

#footer:after {
	content: '';
	display: block;
	clear: both;
}
