{% extends "index.html" %}

{% block index_nav %}
{% endblock %}

{% block info %}
{% endblock %}


{% block content %}


  <h2>{{page_header | safe}}</h2>
  <hr>

  <div class="row-fluid">
  <div class="span3">

    <table border="1" cellpadding="5" >
        <tr align="left"><td>SID </td><td>Message</td><td>Count</td></tr>

    {% for event  in uniq %}

        <tr align="left"><td><a href="/sid/{{event[0]}}">{{event[0]}}</a></td><td>{{event[1]}}</td><td>{{event[2]}}</td></tr> 

    {% endfor %}
    </table>
  </div>
  
  <div class="span9">

    <table border="1" cellpadding="5" >
        <tr align="left"><td>SID </td><td>Message</td><td>Date</td></tr>

    {% for event  in data %}

        <tr align="left"><td><a href="/sid/{{event[0]}}">{{event[0]}}</a></td><td>{{event[1]}}</td><td>{{event[2]}}</td></tr> 

    {% endfor %}
    </table>
  </div>




 </div>


{% endblock %}


{% block footer %}
{% endblock %}
