
{% extends "index.html" %}

{% block content %}

{% endblock %}

{% block charts %}

<div class="well"><a href="#" id="example" data-trigger="click" class="btn btn-success" rel="popover" data-content="It's so simple to create a tooltop for my website!" data-original-title="Twitter Bootstrap Popover">hover for popover</a></div>

<script>
$(function ()
{ $("#example").popover();
});
</script> 
            
{% endblock %}

