{% extends "index.html" %}
<!-- this.version: 0.38 2013-08-20 -->
{% block content %}

<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#24hrs" data-toggle="tab">24 hours</a></li>
    <li><a href="#7days" data-toggle="tab">7 days</a></li>
    <li><a href="#30days" data-toggle="tab">30 days</a></li>
    {% if new_events %}
        <li><a href="/latest/new/"> New.[ {{new_events}} ]  </a></li>
    {% endif %}
    <li><a href="/latest/">Latest Events</a></li>
    <li><a href="/stats/">DX-Console - Statistics</a></li>

  </ul>




<div class="tab-content">
    <div class="tab-pane fade active in" id="24hrs">
    
        <a name="24hrs"></a>
        <div class="row">
        <p>
        <table cellpadding="20">
        <tr>
            <td><h3>24-Hours - Summary </h3></td>
            <td  valign="bottom">    <form action="/do/search/" method="POST">
                <input type="hidden" name="srch" value="ip = *">
                <input type="hidden" name="trange" value="24h" >
                <input type="submit"  class="btn btn-primary" value="Display Events">
                </form>
            </td>
        </tr>
        </table>
            <div class="span3">
            <table border="1" cellpadding="5" width="100%">
                <tr class="uphead">
                    <td><strong>Events</strong></td><td><strong>IPs</strong></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5">
                        <tr><td>T: </td><td align="right">{{ l24 }}</td></tr>
                        <tr><td>U: </td><td align="right">{{ data24 | length}}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table cellpadding="5">
                        <tr><td>T: </td align="right"><td>{{ li24 }}</td></tr>
                        <tr><td>U: </td><td align="right">{{ ip24 | length}}</td></tr>
                        </table>
                    
                    </td>
    
    
    
                </tr>
                <tr  class="uphead">
                    <td><strong>Hosts</strong></td><td><strong>Sensors</strong></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5">
                        <tr><td>U: </td><td align="right">{{ h24 | length }}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table cellpadding="5">
                        <tr><td>U: </td align="right"><td>{{ s24 | length }}</td></tr>
                        </table>
                    
                    </td>
    
    
    
                </tr>
    
                <tr class="uphead"  class="uphead">
                    <td colspan="2"><strong>Host_list</strong></td>
                </tr>
                <tr>
                    <td><strong>Count</strong></td><td><strong>Name</strong></td>
                </tr>
                
                    {% for host  in h24 %}
                        <tr><td>{{host[1]}}</td><td><a href="/do/search/host@{{host[0]}}/">{{host[0]}}</a></td></tr> 
                    {% endfor %}            
                
            </table>
    
    
            </div>
    
            <div class="span7">
            <table border="1" cellpadding="5" width="100%">
                <tr  class="uphead"><td>Count</td><td>SID </td><td>Message</td></tr>
        
            {% for sid  in data24 %}
                <tr><td>{{sid[1]}}</td><td>
                    
                    <a href="/sid/{{sid[0]}}">{{sid[0]}}</a></td><td>{{sid[2]}}</td></tr> 
            {% endfor %}
            </table>
        
            </div>
        
            <div class="span3">
            <table border="1" cellpadding="5"  width="100%">
                <tr  class="uphead"><td>Count</td><td>IP </td></tr>
        
            {% for ip  in ip24 %}
                <tr><td>{{ip[1]}}</td><td><a href="/do/search/ip@{{ip[0]}}">{{ip[0]}}</a></td></tr> 
            {% endfor %}
            </table>
            </div>
    
        </p>
        </div><!-- ./row -->
        <!-- charts -->
        <div class="row">
        <hr>

        <h3>24hrs - Charts</h3>

        {% for chart, chart_data  in chart_d_24.iteritems() %}

    
        <div id="dash_chart_24hrs_{{chart}}" style="min-width: 800px; height: 350px; margin: 0 auto"></div>
    ​
        <hr> 
        <footer class="footer">
           <p class="pull-left">multix</p>
           <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>

    
        <script type="text/javascript"> 
    
    
        $(document).ready(function() {
            chart = new Highcharts.Chart({
            {{ chart_data | safe }}
    
            });
        });
    
        </script>
        {% endfor %}


        </div><!-- ./charts_row -->
        
        
    
    
    
      
    </div><!-- ./24hrs-pane -->
    <div class="tab-pane fade" id="7days">
    
        <a name="7days"></a>
    
        <div class="row">
        <table cellpadding="20">
        <tr>
            <td><h3>7 days - Summary </h3></td>
            <td  valign="bottom">    <form action="/do/search/" method="POST">
                <input type="hidden" name="srch" value="ip = *">
                <input type="hidden" name="trange" value="7d" >
                <input type="submit"  class="btn btn-primary" value="Display Events">
                </form>
            </td>
        </tr>
        </table>
    
            <div class="span3">
            <table border="1" cellpadding="5"  width="100%">
                <tr  class="uphead">
                    <td><strong>Events</strong></td><td><strong>IPs</strong></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5">
                        <tr><td>T: </td><td align="right">{{ l7 }}</td></tr>
                        <tr><td>U: </td><td align="right">{{ data7d | length}}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table cellpadding="5">
                        <tr><td>T: </td align="right"><td>{{ li7 }}</td></tr>
                        <tr><td>U: </td><td align="right">{{ ip7 | length}}</td></tr>
                        </table>
                    
                    </td>
                </tr>
    
                <tr  class="uphead">
                    <td><strong>Hosts</strong></td><td><strong>Sensors</strong></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5">
                        <tr><td>U: </td><td align="right">{{ h7 | length }}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table cellpadding="5">
                        <tr><td>U: </td align="right"><td>{{ s7 | length }}</td></tr>
                        </table>
                    
                    </td>
    
    
    
                </tr>
    
                <tr  class="uphead">
                    <td colspan="2"><strong>Host_list</strong></td>
                </tr>
                
                    {% for host  in h7 %}
                        <tr><td>{{host[1]}}</td><td><a href="/do/search/host@{{host[0]}}/">{{host[0]}}</a></td></tr> 
                    {% endfor %}
    
    
    
            </table>
            </div>
        
        
            <div class="span7">
            <table border="1" cellpadding="5"  width="100%">
                <tr  class="uphead"><td>Count</td><td>SID </td><td>Message</td></tr>
        
            {% for sid  in data7d %}
                <tr><td>{{sid[1]}}</td><td><a href="/sid/{{sid[0]}}">{{sid[0]}}</a></td><td>{{sid[2]}}</td></tr> 
            {% endfor %}
            </table>
            </div>
        
            <div class="span3">
            <table border="1" cellpadding="5"  width="100%">
                <tr class="uphead"><td>Count</td><td>IP </td></tr>
        
            {% for ip  in ip7 %}
                <tr><td>{{ip[1]}}</td><td><a href="/ip/{{ip[0]}}">{{ip[0]}}</a></td></tr> 
            {% endfor %}
            </table>
            </div>
    
    
        </div><!-- ./row -->

        <!-- charts -->
        <div class="row">
        <hr>

        <h3>7 days - Charts</h3>

        {% for chart, chart_data  in chart_d_7.iteritems() %}

    
        <div id="dash_chart_7days_{{chart}}" style="min-width: 800px; height: 350px; margin: 0 auto"></div>
    ​
        <hr> 
        <footer class="footer">
           <p class="pull-left">multix</p>
           <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>

    
        <script type="text/javascript"> 
    
    
        $(document).ready(function() {
            chart = new Highcharts.Chart({
            {{ chart_data | safe }}
    
            });
        });
    
        </script>
        {% endfor %}


        </div><!-- ./charts_row -->
    
    </div><!-- ./pane 7days -->
    <div class="tab-pane fade" id="30days">
    
        <a name="30days"></a>
    
        <div class="row">
        <table cellpadding="20">
        <tr>
            <td><h3>30 days - Summary </h3></td>
            <td  valign="bottom">    <form action="/do/search/" method="POST">
                <input type="hidden" name="srch" value="ip = *">
                <input type="hidden" name="trange" value="30d" >
                <input type="submit"  class="btn btn-primary" value="Display Events">
                </form>
            </td>
        </tr>
        </table>
    
            <div class="span3">
            <table border="1" cellpadding="5"  width="100%">
                <tr  class="uphead">
                    <td><strong>Events</strong></td><td><strong>IPs</strong></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5">
                        <tr><td>Uniq </td><td align="right">{{ data30d | length}}</td></tr>
                        <tr><td>Total </td><td align="right">{{ l30 }}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table cellpadding="5">
                        <tr><td>Uniq </td><td align="right">{{ ip30 | length}}</td></tr>
                        <tr><td>Total </td align="right"><td>{{ li30 }}</td></tr>
                        </table>
                    
                    </td>
                </tr>
    
                <tr  class="uphead">
                    <td><strong>Hosts</strong></td><td><strong>Sensors</strong></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="5">
                        <tr><td>U: </td><td align="right">{{ h30 | length }}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table cellpadding="5">
                        <tr><td>U: </td align="right"><td>{{ s30  | length  }}</td></tr>
                        </table>
                    
                    </td>
    
    
    
                </tr>
    
                <tr  class="uphead">
                    <td colspan="2"><strong>Host_list</strong></td>
                </tr>
                
                    {% for host  in h30 %}
                        <tr><td>{{host[1]}}</td><td><a href="/do/search/host@{{host[0]}}/">{{host[0]}}</a></td></tr> 
                    {% endfor %}
    
    
            </table>
            </div>
        
        
            <div class="span7">
            <table border="1" cellpadding="5"  width="100%">
                <tr  class="uphead"><td>Count</td><td>SID </td><td>Message</td></tr>
        
            {% for sid  in data30d %}
                <tr><td>{{sid[1]}}</td><td><a href="/sid/{{sid[0]}}">{{sid[0]}}</a></td><td>{{sid[2]}}</td></tr> 
            {% endfor %}
            </table>
            </div>
        
            <div class="span3">
            <table border="1" cellpadding="5"  width="100%">
                <tr  class="uphead"><td>Count</td><td>IP </td></tr>
        
            {% for ip  in ip30 %}
                <tr><td>{{ip[1]}}</td><td><a href="/ip/{{ip[0]}}">{{ip[0]}}</a></td></tr> 
            {% endfor %}
            </table>
            </div>
    
    
        </div><!-- ./row -->

        <div class="row">
        <hr>

        <h3>30 days - Charts</h3>

        {% for chart, chart_data  in chart_d_30.iteritems() %}

    
        <div id="dash_chart_30days_{{chart}}" style="min-width: 800px; height: 350px; margin: 0 auto"></div>
    ​
        <hr> 
        <footer class="footer">
           <p class="pull-left">multix</p>
           <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>

    
        <script type="text/javascript"> 
    
    
        $(document).ready(function() {
            chart = new Highcharts.Chart({
            {{ chart_data | safe }}
    
            });
        });
    
        </script>
        {% endfor %}


        </div><!-- ./charts_row -->


    
    </div><!-- ./pane30days -->



</div><!-- ./tab-content -->

</div><!-- ./tabbable-->



{% endblock %}


    
    



