{% extends "index.html" %}
<!-- this.version: 0.3.18 - 2013-08-10 -->


{% block content %}

<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->

{% block msg_nav %}

  <ul class="nav nav-tabs">
    <li class="active"><a href="#event_msgs" data-toggle="tab">New Uniq Events   {% if (unknown_msgs | count) > 0 %}( {{unknown_msgs | count }} new ){% endif %}</a></li>
    <li><a href="/display/agents/msg" >Agent_Msgs   {% if (agent_msgs | count) > 0 %}( {{agent_msgs | count }} new ){% endif %}</a></li>
    <li><a href="#admin_msgs" data-toggle="tab">Admin/System-Messages   {% if (admin_new | count) > 0 %}( {{admin_new | count }} new ){% endif %}</a></li>

  </ul>

{% endblock %}



<div class="tab-content">
    <div class="tab-pane fade active in" id="event_msgs">


    
    <div class="row">
        <div class="span12">
        <table border="1" cellpadding="6" width="100%">

        <tr class="uphead"><td colspan="6">New Messages ( {{unknown_msgs | count }} new) </td>
            {% if (unknown_msgs | count) > 0 %}
            <td><a href="/do/message_ack/all_events/" class="btn btn-danger">ALL!</a></td>
            {% endif %}    
        </tr>
        
            {% for msg, msg_data  in unknown_msgs.iteritems() | sort | reverse %}
                <tr align="left">
                    <td>{{msg_data["time"]}}</td>
                    <td><a href="/sid/{{msg_data['rule_id']}}/" title="{{msg}}">{{msg_data["rule_id"]}}</a></td>
                    <td><a href="/do/search/ip@{{msg_data['peer_ip']}}/" title="{{msg}}">{{msg_data["peer_ip"]}}</a></td>
                    <td>{{msg_data["url"][0:10]}}</td>
                    <td><a href="/do/search/host@{{msg_data['host']}}/" title="{{msg}}">{{msg_data["host"]}}</td>
                    <td width="30%"><pre>{{msg_data['msg']}}</pre></td>
                    <td><a href="/do/message_ack/{{msg}}/" class="btn btn-danger">ACK!</a></td>
                </tr>

            {% endfor %}


        <tr class="uphead"><td colspan="6">Known Messages</td></tr>
        
            {% for msg, msg_data  in known_msgs.iteritems() | sort  | reverse %}
     
                <tr align="left">
                    <td>{{msg_data["time"]}}</td>
                    <td><a href="/sid/{{msg_data['rule_id']}}/" title="{{msg}}">{{msg_data["rule_id"]}}</a></td>
                    <td><a href="/do/search/ip@{{msg_data['peer_ip']}}/" title="{{msg}}">{{msg_data["peer_ip"]}}</a></td>
                    <td><a href="/do/search/url@{{msg_data['url']}}" title="{{msg_data['url']}}">{{msg_data['url'][0:42]}}
                        {% if msg_data['url'] | count > 42 %}...{% endif %}</a></td>
                    <td><a href="/do/search/host@{{msg_data['host']}}/" title="{{msg}}">{{msg_data["host"]}}</td>
                    <td width="30%"><pre>{{msg_data['msg']}}</pre></td>
                </tr>
            {% endfor %}
        </table>
        </div>

    </div><!-- ./row -->
    
    </div><!-- ./event_msgs_pane -->
    {% if admin %}
    <div class="tab-pane fade in" id="admin_msgs">

    <div class="row">
        <div class="span12">
        <table border="1" cellpadding="5" width="100%">

        <tr class="uphead"><td colspan="2">New Admin/System - Messages ( {{admin_new | count }} new )</td>
            {% if (admin_new | count) > 0 %}
            <td><a href="/do/message_ack/all_admin/" class="btn btn-danger">ALL!</a></td>
            {% endif %}    

        
        </tr>
        
            {% for msg, msg_data  in admin_new.iteritems() | sort  | reverse %}
                <tr align="left">
                    <td>{{msg_data["time"]}}</td>
                    <td><pre>{{msg_data['msg']}}</pre></td>
                    <td><a href="/do/message_ack/{{msg}}/" class="btn btn-danger">ACK!</a></td>
                </tr>
            {% endfor %}


        <tr class="uphead"><td colspan="2">Known Messages</td></tr>
        
            {% for msg, msg_data  in admin_old.iteritems() | sort | reverse %}     
                <tr align="left">
                    <td>{{msg_data["time"]}}</td>
                    <td><pre>{{msg_data['msg']}}</pre></td>
                </tr>
            {% endfor %}
        </table>
        </div>

    </div><!-- ./row -->
    
    </div><!-- ./admin_msgs_pane -->
    {% endif %}
</div>
</div>

{% endblock %}
