{% extends "index.html" %}


{% block content %}

<div class="row">
<p>
<h2>{% if user_info['name'] != 'NEW' %}User_Edit {{user_info["name"]}}{% else %}Create New User{% endif %}</h2>

    <div class="span4" align="left">
        <a href="/admin/users/"><div class="btn btn-primary">User_Admin</div></a>
    {% if user_info['name'] != 'NEW' %}
        <a href="/admin/users/new/"><div class="btn btn-primary">Create new user</div></a>
    {% endif %}<hr>
    </div>
</div>
<div class="row">
<form action="/admin/users/save/" method="POST">
<div class="span7"  align="left">


<table border="1" cellpadding = "10" cellspacing = "10">
    <tr class="uphead"><td colspan="2">User_Info</td></tr>
    <tr><td>Name</td><td><input type="text" name="uname" value="{% if user_info['name'] != 'NEW' %}{{user_info['name']}}{% endif %}"></td></tr>
    <tr><td>Email</td><td><input type="text" name="umail" value="{{user_info['email']}}"></td></tr>
    <tr><td>Admin</td><td>
        <input type="radio" name="uadmin" value="0" {% if not admin %} checked {% endif %}>No <br>
        <input type="radio" name="uadmin" value="1" {% if admin %} checked {% endif %}>Yes <br>
        </td></tr>
    <tr><td>Password</td><td><input type="password" name="upass" value=""></td></tr>
    <tr><td></td> <td><input type="submit" class="btn btn-primary" value="save">
</td></tr>
</table>
</div> 
<div class="span5">
<table border="1" cellpadding = "10" cellspacing = "10">
    <tr><td class="uphead" colspan="2" valign="top">Hosts/Sensors</td></tr>
        <tr >
            <td><input type="radio" name="hselect" value="hosts">select via Hosts</td>
            <td><input type="radio" name="hselect" value="sensors" checked>select via Sensors</td>
        </tr>
        <tr>
            <td>
            <input type="checkbox" name="all">ALL <br>
            <hr>
            {% for sensor, sdata in sensor_list.iteritems() | sort %}
                <h5>{{sensor}}</h5>
                {% for h in sdata %}
                    <input type="checkbox" name="xhost" value={{h}}>{{h}}
                    <hr> 
                {% endfor %}                 
            {% endfor %} 
            </td>

            <td valign="top">
            <input type="checkbox" name="xsensor" value="all" checked>ALL <br>
            <hr>
            {% for sensor, sdata in sensor_list.iteritems() | sort %}
                    <input type="checkbox" name="xsensor" value="{{sensor}}">{{sensor}} <br>
                    <hr> 
             
            {% endfor %} 
            </td>

        </tr>
</table>
</div>

</form>

</p>
</div>

{% endblock %}
