{% extends "index.html" %}




{% block content %}


  <h2>{{page_header | safe}}</h2>
  <hr>

  <div class="row-fluid" align="left">
    <h3>Whiteliste-Generator for id: {{sid}}</h3>

    <form action="/do/whitelist/" method = "POST">
    
    <table cellspacing="20" cellpadding="7">
    <tr>
        <td>SID</td>
        <td><input type="text" name="wsid" value ="{{sid}}" placeholder="*"></td>
    </tr>
    <tr>
        <td>IP</td>
        <td><input type="text" name="wip" value ="" placeholder="*"></td>
    </tr>
    
    <tr>
        <td>HOST</td>

        <td>
        <select name="whost">
        {% for host in hostlist | sort %}
            <option value="{{host}}">{{host}}</option>
        
        {% endfor %}
        </select>
        </td>
    </tr>    

    <tr>
        <td>TimeRange</td>
        <td><input type="text" name="wrange" value="{{range_name}}"></td>
    </tr>


    <tr>
        <td></td>
        <td><input type="submit" class="btn btn-primary" value=" generate whitelist "></td>
    </tr>


    </table>
    
    </form>

 </div>


{% endblock %}


