/* ==== Grundgerüst ==== */

html, body { 
	margin: 0;
	padding: 0;
	border: none;
	font: small/1.4em Arial, Helvetica, "Trebuchet MS", sans-serif;
	color: #525252;	
}

html {
	background: #e3e3e3 url(/static/design/htmlbg.png) repeat-x;
}



/* ==== Aufbau ==== */

#main, #header, #footer, #aside, #content, #extra { 
	display: block;
	position: relative;
	font-size: 1em;
	line-height: 1.4em;
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

#aside {
	background: #fafafa;
	margin: 16px 0 0 0;
	font-size: 0.95em;
	padding: 16px;
}

#extra {
	border-top: 16px solid #e3e3e3;
	border-bottom: 16px solid #e3e3e3;
	background: #f6f7f7;
	font-size: 0.95em;
	padding: 16px;
	clear: both;
}

#footer {
	color: #fff;
	padding: 16px;
	margin: 0 0 16px 0;
	background: #00aef0;
	font-size: 0.95em;
}

#content { padding: 16px; }
#main    { padding: 0 8px; }
#content { background: #fff; }
#footer  { clear: both; }
#header  { background: url(/static/design/headbg.png) repeat-x; }
